#identidad h5, h4{
  text-align: center;
}

#identidad .contenedor{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#identidad article{
  margin: 15px;
}

#identidad img{
  width: 100%;
  max-width: 250px;
  max-height: 250px;
}

#identidad{
  background: #708090;
  text-align: center;
  padding: 30px;
}

.unad{
  margin: 30px;
}

.unad img{
  border-top: 50%;
  border: 5px solid #FFF;
}
